mixin comment-block
  .comment-block
    .comment-block__pic
      img.comment-block__img(src="images/avar.jpg", alt="")
    .comment-block__body
      h2.comment-block__username BRYAN FREEMAN
      p.comment-block__comment Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae gravida mi purus sit amet erat. Ut dictum nisi massa, vitae pusem at fringilla lobor
      .comment-block__date July 14, 2017 at 9:30am &nbsp;&nbsp;|&nbsp;&nbsp;
        span
          a(href="#!").comment-block__date.comment-block__date--bold Reply

mixin reply-block
  .reply-block
    .comment-block__pic
      img.comment-block__img(src="images/avar.jpg", alt="")
    .comment-block__body
      h2.comment-block__username BRYAN FREEMAN
      p.comment-block__comment Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae gravida mi purus sit amet erat. Ut dictum nisi massa, vitae pusem at fringilla lobor
      .comment-block__date July 14, 2017 at 9:30am &nbsp;&nbsp;|&nbsp;&nbsp;
        span
          a(href="#!").comment-block__date.comment-block__date--bold Reply
