mixin footer
  footer.footer
    .footer-body
      .footer-body__wrapper.container
        .row
          .col-md-4.col-sm-6.p-0
            h3.footer-heading CONTACT
            ul.footer-body__tab
              li.footer-body__item
                a.footer-body__link(href="#!")
                  span
                    img.footer-body__icon(src="images/footer-icon1.png", alt="")
                  | 2/45 Tower Street, New York, USA
              li.footer-body__item
                a.footer-body__link(href="#!")
                  span
                    img.footer-body__icon(src="images/footer-icon2.png", alt="")
                  | 012 678 8899
              li.footer-body__item
                a.footer-body__link(href="#!")
                  span
                    img.footer-body__icon(src="images/footer-icon3.png", alt="")
                  | contact@circle_studio.com
              li.footer-body__item
                a.footer-body__link.footer-body__link--bold(href="#!")
                  span
                    img.footer-body__icon(src="images/footer-icon4.png", alt="")
                  | www.harutheme.com
          .col-md-2.col-sm-6.p-0
            h3.footer-heading SERVICES
            ul.footer-body__tab
              li.footer-body__item
                a.footer-body__link(href="#!") Film Production
              li.footer-body__item
                a.footer-body__link(href="#!") Creative Direction
              li.footer-body__item
                a.footer-body__link(href="#!") Digital Content
              li.footer-body__item
                a.footer-body__link(href="#!") Visual Effects
          .col-md-2.col-sm-6.p-0
            h3.footer-heading CLIENTS
            ul.footer-body__tab
              li.footer-body__item
                a.footer-body__link(href="#!") American Express
              li.footer-body__item
                a.footer-body__link(href="#!") Mercedes Benz
              li.footer-body__item
                a.footer-body__link(href="#!") The Martin Agency
              li.footer-body__item
                a.footer-body__link(href="#!") Razorfish
          .col-md-4.col-sm-6.pl-90
            h3.footer-heading INSTAGRAM
            .footer-body__tab.footer-body__tab--img
              img.footer-body__img(src="images/footer_1.jpg", alt="pic")
              img.footer-body__img(src="images/footer_2.jpg", alt="pic")
              img.footer-body__img(src="images/footer_3.jpg", alt="pic")
      .footer-bottom.container
        .row
          .col-md-8.col-sm-12
            p.footer-bottom__text Copyright &copy; 2017
              span.footer-bottom__text.footer-bottom__text--bold Circlestudio
              |  - All Rights Reserved
          .col-md-4.col-sm-12
            ul.footer-bottom__tab
              li.footer-bottom__item
                a.footer-bottom__link(href="#!") INSTAGRAM
              li.footer-bottom__item
                a.footer-bottom__link(href="#!") TWITTER
              li.footer-bottom__item
                a.footer-bottom__link(href="#!") FACEBOOK
