mixin tag
  .tag
    p.tag__text
      span.tag__text.tag__text--14
        a.tag__link(href="#!") Photography,
      span.tag__text.tag__text--24
        a.tag__link(href="#!") bussiness,
      span.tag__text.tag__text--14
        a.tag__link(href="#!") parallax,
      span.tag__text.tag__text--18
        a.tag__link(href="#!") web design,
      span.tag__text.tag__text--34
        a.tag__link(href="#!") design,
      span.tag__text.tag__text--14
        a.tag__link(href="#!") print, videos,
      span.tag__text.tag__text--18
        a.tag__link(href="#!") freelancer,
      span.tag__text.tag__text--20
        a.tag__link(href="#!") creative,
      span.tag__text.tag__text--24
        a.tag__link(href="#!") user,
      span.tag__text.tag__text--14
        a.tag__link(href="#!") interface,
      span.tag__text.tag__text--24
        a.tag__link(href="#!") film
