.footer-body {
  padding-top: 70px;
  border-top: 1px solid $color_lightgrey1;
  @include respond-to ('smallphone-and-down') {
    padding-top: 30px;
  }
  &__wrapper {
    padding-bottom: 70px;
  }
  &__tab {
    padding: 0;
    margin-top: 25px;
    &--img {
      margin-top: 40px;
      @include respond-to ('tablet-and-down') {
        padding-left: 15px;
      }
    }
  }
  &__link {
    display: block;
    color: $color_grey;
    font-family: $playfair;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
    &--bold {
    font-weight: 700;
    color: $color_black;
    }
  }
  &__item {
    list-style-type: none;
    &:hover {
      .footer-body__link {
        transition: 0.4s;
        color: $color_orange;
        text-decoration: underline;
      }
    }
  }
  &__img {
    margin-right: 5px;
    @include respond-to ('desktop-and-down') {
      margin-right: 0;
    }
    @include respond-to ('tablet-and-down') {
      margin-right: 5px;
    }
  }
  &__icon {
    margin-right: 15px;
  }
}
.pl-90 {
  padding-left: 90px;
  @include respond-to ('desktop-and-down') {
    padding-left: 55px;
  }
  @include respond-to ('tablet-and-down') {
    padding: 0 15px;
  }
}
.p-0 {
  padding: 0;
  @include respond-to ('tablet-and-down') {
    padding: 0 15px;
  }
}
.footer-heading {
  font-family: $nunito;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 3px;
  margin-left: 25px;
  position: relative;
  &::before {
    content: "/";
    position: absolute;
    left: -15px;
    color: $color_orange;
  }
}
.footer-bottom {
  padding: 40px 0;
  border-top: 1px solid $color_lightgrey1;
  @include respond-to ('tablet-and-down') {
    padding: 40px 15px;
  }
  &__text {
    font-family: $playfair;
    font-size: 14px;
    font-style: italic;
    color: $color_grey;
    &--bold {
      font-weight: 700;
      color: $color_black;
    }
  }
  &__tab {
    padding: 0;
  }
  &__item {
    list-style-type: none;
    float: right;
    margin-left: 20px;
    &:hover {
      .footer-bottom__link {
        transition: 0.4s;
        color: $color_black;
        text-decoration: underline;
        font-weight: 700;
      }
    }
    @include respond-to ('tablet-and-down') {
      float: left;
      margin-right: 20px;
      margin-left: 0;
    }
  }
  &__link {
    font-family: $nunito;
    font-size: 13px;
    color: $color_grey;
  }
}
