mixin button-white(title)
  button.button-white.btn #{title}

mixin button-yellow(title)
  button.button-yellow.btn #{title}

mixin button-tag(tag)
  button.button-tag.btn #{tag}

mixin button-sns(sns)
  button.button-sns.btn
    i.fa(class = "fa-" +sns)
