.heading-title {
  font-family: $playfair;
  font-size: 34px;
  font-weight: 900;
  margin-left: 25px;
  position: relative;
  &--h3{
    font-size: 24px;
  }
  &::before {
    content: "/";
    position: absolute;
    left: -25px;
    color: $color_orange;
  }
}
